@model DO_AN.Models.Ctdd

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<h1>Chỉnh sửa điểm đến</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Malt" />
            <input type="hidden" asp-for="Maks" />
            <input type="hidden" asp-for="Madtq" />
            <div class="form-group">
                <label asp-for="Thutu" class="control-label"> Thứ tự</label>
                <input asp-for="Thutu" class="form-control" />
                <span asp-validation-for="Thutu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
