@model IEnumerable<DO_AN.Models.Diemthamquan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .table-bordered {
        border: 2px solid black;
    }

        .table-bordered th,
        .table-bordered td,
        .table-bordered thead th {
            border: 2px solid black;
        }

    /* Căn giữa nút trong mỗi dòng */
    .center-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<p>
    <a asp-action="Add">Tạo mới</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="border: 2px solid black; text-align: center">Điểm tham quan</th>
            <th style="border: 2px solid black; text-align: center">Thông tin thêm</th>
            <th style="border: 2px solid black; text-align: center">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 2px solid black;">@Html.DisplayFor(modelItem => item.Tendtq)</td>
                <td style="border: 2px solid black;">@Html.Raw(ConvertToHtml(item.Thongtinct))</td>
                <td style="border: 2px solid black;">
                    <div class="center-btn">
                        <a asp-action="Update" asp-route-madtq="@item.Madtq" class="icon btn btn-default btn-small" title="Edit">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-madtq="@item.Madtq" class="icon btn btn-default btn-small" title="Delete">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions {
    private string ConvertToHtml(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            return string.Empty;
        }

        return input.Replace("\n", "<br />");
    }
}
