@model DO_AN.Models.Hinhanh

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-width: 100%;
        padding: 0 15px;
    }

    .table-bordered {
        border: 2px solid #000;
    }

        .table-bordered thead th {
            border: 2px solid #000;
            text-align: center;
            font-size: 24px; /* Tăng kích thước chữ */
        }

    a:hover {
        color: inherit !important;
    }
</style>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" style="border: 2px solid #000;">Chỉnh sửa thông tin lịch trình</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mah" />
            <div class="form-group">
                <label asp-for="Madl">Danh lam</label>
                <select asp-for="Madl" asp-items="ViewBag.Danhlamtcs"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Url">Image</label>
                <input type="file" asp-for="Url" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
